<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products - EBuy</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/account.css">
    <!-- <script src="../static/scripts/script.js"></script> -->
    <link href="https://fonts.googleapis.com/css2?
    family=Poppins:wght@100;200;300;400;500;600;700&display=swap" 
    rel="stylesheet">
    <script src="https://kit.fontawesome.com/a88d896878.js" crossorigin="anonymous"></script>
</head>
<body>

        <div class="container">

            <div class="navbar">
                <div class="logo">
                    <img src="/images/logo.png" alt="" width="125px">
                </div>
                <nav>
                    <ul id="MenuItems">
                        <li><a href="/">Home</a></li>
                        <li><a href="/products.html">Products</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="/account.html">Account</a></li>
                    </ul>
                </nav>

                <a href="/cart"><img src="/images/cart.png" alt="" width="30px" height="30px"></a>
                <a href="/index"><img src="/images/menu.png" class="menu-icon" alt="" onclick="menuToggle()"></a>
            
            </div>

        </div>


    <!-- Acoount page container -->


    <div class="account-page">
        <div class="conatiner">
            <div class="row">
                <div class="col-2">
                    <img src="/images/image1.png" alt="">
                </div>

                <div class="col-2">
                    <div class="form-container" id="rigisterForm">

                        <div class="form-btn">
                            <span onclick="loginuser()">Step 1</span>
                            <span onclick="check()">Step 2</span>
                            <hr id="indicator">
                        </div>

                        <form class="sub-form" id="firstView">
                            <div>
                                <label for="username">Username</label>
                                <input type="text" placeholder="Username" name="username" class="credintilas" id="username" required>
                            </div>
                            
                            <div class="error username"></div>

                            <label for="password">Password</label>
                            <input type="password" name="password" id="password" placeholder="Password" class="credintilas" required>
                            <div class="error password"></div>

                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" placeholder="Email" class="credintilas" required>
                            <!-- <div class="error email"></div> -->

                            <button class="btn">Next</button>

                            <p>Have an account? <a href="login">Login</a></p>

                            <div class="errors"></div>
                        </form>
                        


                        <form class="sub-form" id="moreInfo">
                            
                            <label for="phone">Mobile Number</label>
                            <input type="tel" placeholder="Phone" name="mobile" id="phone" required>
                            <div class="error mobile"></div>

                            <label for="dateBirth">Date of Birth</label>
                            <input type="date" name="dateBirth" id="dateBirth" placeholder="Date of Birth" required>
                            <div class="error date"></div>

                            <label for="role">Role</label>
                            <select name="role" id="role">
                                <option value="CUSTOMER">Customer</option>
                                <option value="SELLER">Seller</option>
                                <option value="ADMIN">Adminstrator</option>
                            </select>
                            <!-- <div class="error role"></div> -->

                            <button type="submit" class="btn">Register</button>
                        </form>

                    </div>
                </div>
                    
            </div>
        </div>
    </div>


    <!-- ------------- footer ------------ -->
    <%- include('./partials/footer.ejs')%>


    <script>
        let MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";

        function menuToggle(){
            if (MenuItems.style.maxHeight == "0px")
                MenuItems.style.maxHeight = "200px"
            else
                MenuItems.style.maxHeight = "0px"
        }
    </script>


<script>
    const firstView = document.getElementById("firstView");
    const moreInfos = document.getElementById("moreInfo");
    const indicator = document.getElementById('indicator');

    const registerForm = document.querySelector('#moreInfo');
    

    const moreInfo = () => {
        moreInfos.style.transform = "translateX(-300px)";
        firstView.style.transform = "translateX(-300px)";
        indicator.style.transform = "translateX(100px)";
    } 

    const loginuser = () => {
      
        moreInfos.style.transform = "translateX(0px)";
        firstView.style.transform = "translateX(0px)";
        indicator.style.transform = "translateX(0px)";
    }

    firstView.addEventListener ('submit' ,(e) => {e.preventDefault(), moreInfo()});
    
    registerForm.addEventListener('submit', async (e) => {

        e.preventDefault();

        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        const email = document.getElementById('email').value;
        const mobile = document.getElementById('phone').value;
        const birthDate =  document.getElementById('dateBirth').value;
        const role = document.getElementsByName('role')[0].value;


        console.log(username, password, email, mobile, birthDate, role)

        const res = await fetch('http://localhost:9090/account/signup', {
            method: 'POST',
            headers: {
                'content-type': 'application/json'
            },
            body: JSON.stringify({ username, password, email, mobile, birthDate, role })
        });


        const data = await res.json();

        console.log(data);


        if(data.user) {
            location.assign('/');
        }
    });


    function check() { 
        const credintilas = document.getElementsByClassName('credintilas');
    
        const error_cont = document.querySelector('.errors');
        let i = 0;
        // const emailError = document.querySelector('.error.email');
        // const usernameError = document.querySelector('.error.username');
        // const passwordError = document.querySelector('.error.password');

        // const email = document.querySelector('.credintilas.email');
        // const username = document.querySelector('.credintilas.username');
        // const password = document.querySelector('.credintilas.password');

        
        let error = false;
       
        // const errorType = { 0: 'username is required\n', 1: 'password is required\n', 2: 'email is required\n' };
        while(i < 3) {
            if (credintilas.item(i).value === "") {
                error = true;
                break;
            }
            i++;
        }

        // if (!username) { usernameError.innerHTML = errorType[0]; error = true };
        // if (!email) { emailError.innerHTML = errorType[2]; error = true };
        // if (!password) { passwordError.innerHTML = errorType[1]; error = true };


        if (!error)
            moreInfo();
        else {
            // error_cont.innerHTML = "Fill the required fields first"
            window.alert("Fill the required fields first");
        } 
        
    }
    
</script>
<!-- <script src="/scripts/adminScripts/admin-common.js"></script> -->
</body>
</html>