<head>
    <!-- <link rel="stylesheet" href="/styles/aside.css"> -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

</head>

<aside>

    <div class="row">
        <a href="" id="dashboard" class="item">
            <i class="fa fa-tachometer icon-1" aria-hidden="true"></i>&nbsp;
            <span>Dashbord</span>
        </a>
    </div>

    <div class="row">
        <a href="" id="customers" class="item">
            <i class="fa fa-users icon-2" aria-hidden="true"></i>&nbsp;
            <span>Customers</span>
        </a>

    </div>

    <div>

        <div class="row">
            <a href="" id="masters">
                <i class="fa fa-shopping-cart icon-4" aria-hidden="true"></i>&nbsp;
                <span>Masters</span>
            </a>
            <i class="fa-solid fa-angle-left angle"></i>


        </div>

        <div class="sub-list">
            <div class="row">
                <a href="/categories" id="categories" class="item">
                    <i class="fa-solid fa-list"></i>&nbsp;
                    <span>Categories</span>
                </a>

            </div>
            <div class="row">
                <a href="" id="subCategories" class="item">
                    <i class="fa-solid fa-list"></i>&nbsp;
                    <span>Sub Categories</span>
                </a>

            </div>
            <div class="row">
                <a href="" id="brands" class="item">
                    <i class="fa-solid fa-list"></i>&nbsp;
                    <span>Brands</span>
                </a>

            </div>
            <div class="row">
                <a href="" id="productSize" class="item">
                    <i class="fa-solid fa-list"></i>&nbsp;
                    <span>Product Sizes</span>
                </a>

            </div>
        </div>
    </div>




    <div class="row">
        <a href="" id="sellers" class="item">
            <i class="fa-solid fa-bag-shopping icon-3"></i>&nbsp;
            <span>Sellers</span>
        </a>
    </div>

    <div>
        <div class="row">
            <a href="" id="products" class="item">
                <i class="fa fa-shopping-cart icon-4" aria-hidden="true"></i>&nbsp;
                <span>Products</span>
            </a>

            <i class="fa-solid fa-angle-left angle"></i>
        </div>

        <div class="sub-list">
            <div class="row">
                <a href="" id="categories" class="item">
                    <i class="fa-solid fa-list"></i>&nbsp;
                    <span>Categories</span>
                </a>

            </div>
            <div class="row">
                <a href="" id="subCategories" class="item">
                    <i class="fa-solid fa-list"></i>&nbsp;
                    <span>Sub Categories</span>
                </a>

            </div>
            <div class="row">
                <a href="" id="brands" class="item">
                    <i class="fa-solid fa-list"></i>&nbsp;
                    <span>Brands</span>
                </a>

            </div>
            <div class="row">
                <a href="" id="productSize" class="item">
                    <i class="fa-solid fa-list"></i>&nbsp;
                    <span>Product Sizes</span>
                </a>

            </div>
        </div>
    </div>




    <div class="row">
        <a href="" id="countries" class="item">
            <i class="fa fa-globe icon-5" aria-hidden="true"></i>&nbsp;
            <span>Countries</span>
        </a>
    </div>


    <div class="row">
        <a href="" class="item">
            <i class="fa fa-building icon-6" aria-hidden="true"></i>&nbsp;
            <span>Departments</span>
        </a>
    </div>


    <div class="row">
        <a href="" class="item">
            <i class="fa fa-building icon-10" aria-hidden="true"></i>&nbsp;
            <span>Sales</span>
        </a>
    </div>

    <div class="row">
        <a href="" class="item">
            <i class="fa-solid fa-truck icon-4"></i>&nbsp;
            <span>Delivery</span>
        </a>
    </div>

    <div class="row">
        <a href="" class="item">
            <i class="fa-solid fa-location-dot icon-8"></i>&nbsp;
            <span>Delivery Zones</span>
        </a>
    </div>

    <div class="row">
        <a href="" class="item">
            <i class="fa-solid fa-chart-column icon-7"></i>&nbsp;
            <span>Delivery Reports</span>
        </a>
    </div>

    <div class="row">
        <a href="" class="item">
            <i class="fa-sharp fa-solid fa-tags icon-9"></i>&nbsp;
            <span>Offers</span>
        </a>
    </div>

    <div class="row">
        <a href="" class="item">
            <i class="fa-brands fa-google-wallet icon-6"></i>&nbsp;
            <span>Wallet</span>
        </a>
    </div>
</aside>

<!-- <script src="/scripts/adminScripts/dashboard.js"></script> -->
<!-- <script src="/scripts/adminScripts/admin-common.js"></script> -->


<script>
    const arrows = $('.angle');
    const subLists = $('.sub-list');

    for (let i = 0; i < arrows.length; i++) {
        const item = arrows.get(i);
        const subList = subLists.get(i);

        subList.style.maxHeight = "0";
        item.addEventListener("click", () => {

            if (subList.style.maxHeight == "0px") {
                item.style.rotate = '-90deg';
                subList.style.maxHeight = "250px"
            } else {
                subList.style.maxHeight = "0px";
                item.style.rotate = '0deg';
            }
        })
    }

    const bar = document.querySelector('.fa-bars');
    const list = document.querySelector('aside');

    bar.addEventListener("click", () => {

        if (list.style.maxHeight == "0px") {
            list.style.maxHeight = "100vh"
        } else {
            list.style.maxHeight = "0px";
        }
    })

    window.onresize = () => {

        if (window.innerWidth <= 840) {
            // aside 
            console.log(window.innerWidth);

            list.style.maxHeight = "0px";

        }

        if (window.innerWidth > 840) {
            console.log('large screen', window.innerWidth);

            list.style.maxHeight = "100vh";
            console.log(list.style.maxHeight);
        }

    }
</script>