<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EBuy | Ecommerce Website Design</title>
    <!-- <link rel="stylesheet" href="../../static/styles/style.css"> -->
    <link rel="stylesheet" href="/styles/admin.css">
    <link href="https://fonts.googleapis.com/css2?
    family=Poppins:wght@100;200;300;400;500;600;700&display=swap" 
    rel="stylesheet">
    <script src="https://kit.fontawesome.com/a88d896878.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">

        <div class="navbar">
            <div class="logo">
                <img src="/images/logo.png" alt="" width="165px">
            </div>
           

            <div class="nav-content">
                <a href="">
                    <i class="fa fa-bars symbol" aria-hidden="true"></i>
                </a>

                <div class="user-info">
                    <i class="fa fa-bell-o symbol" aria-hidden="true"></i>

                    <!-- <div> -->
                        <a class="user" href="">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a> &nbsp;&nbsp;

                        <span>Admin</span>
                    <!-- </div> -->

                </div>
        
            </div>
            
        </div>


        <!-- Create the main part of the admin page -->

        <div class="main-content">
            <aside>

                <div class="row">
                    <span id="dashboard" class="item">
                        <i class="fa fa-tachometer icon-1" aria-hidden="true"></i>&nbsp;
                        <span >Dashbord</span>
                    </span>
                </div>

                <div class="row">
                    <span id="customers" class="item">
                        <i class="fa fa-users icon-2" aria-hidden="true"></i>&nbsp;
                        <span >Customers</span>
                    </span>
                </div>

                <div>

                    <div class="row">
                        <span id="masters">
                            <i class="fa fa-shopping-cart icon-4" aria-hidden="true"></i>&nbsp;
                            <span >Masters</span>
                        </span>
                        <i class="fa-solid fa-angle-left"></i>
    
    
                    </div>

                    <div class="sub-list">
                        <div class="row">
                            <span id="categories" class="item">
                                <i class="fa-solid fa-list"></i>&nbsp;
                                <span>Categories</span> 
                            </span>
                            
                        </div>
                        <div class="row">
                            <span id="subCategories" class="item">
                                <i class="fa-solid fa-list"></i>&nbsp;
                                <span>Sub Categories</span>
                            </span>
                             
                        </div>
                        <div class="row">
                            <span id="brands" class="item">
                                <i class="fa-solid fa-list"></i>&nbsp;
                                <span>Brands</span>
                            </span>
                            
                        </div>
                        <div class="row">
                            <span id="productSize" class="item">
                                <i class="fa-solid fa-list"></i>&nbsp;
                                <span>Product Sizes</span>
                            </span>
                            
                        </div>
                    </div>
                </div>   
                



                <div class="row">
                    <span id="sellers" class="item">
                        <i class="fa-solid fa-bag-shopping icon-3"></i>&nbsp;
                        <span >Sellers</span>
                    </span>
                </div>

                <div>
                    <div class="row">
                        <span id="products" class="item">
                            <i class="fa fa-shopping-cart icon-4" aria-hidden="true"></i>&nbsp;
                            <span>Products</span>
                        </span>
    
                        <i class="fa-solid fa-angle-left"></i>
                    </div>

                    <div class="sub-list">
                        <div class="row">
                            <span id="categories" class="item">
                                <i class="fa-solid fa-list"></i>&nbsp;
                                <span>Categories</span> 
                            </span>
                            
                        </div>
                        <div class="row">
                            <span id="subCategories" class="item">
                                <i class="fa-solid fa-list"></i>&nbsp;
                                <span>Sub Categories</span>
                            </span>
                             
                        </div>
                        <div class="row">
                            <span id="brands" class="item">
                                <i class="fa-solid fa-list"></i>&nbsp;
                                <span>Brands</span>
                            </span>
                            
                        </div>
                        <div class="row">
                            <span id="productSize" class="item">
                                <i class="fa-solid fa-list"></i>&nbsp;
                                <span>Product Sizes</span>
                            </span>
                            
                        </div>
                    </div>
                </div>

        


                <div class="row">
                    <span id="countries" class="item">
                        <i class="fa fa-globe icon-5" aria-hidden="true"></i>&nbsp;
                        <span >Countries</span>
                    </span>
                </div>


                <div class="row">
                    <span class="item">
                        <i class="fa fa-building icon-6" aria-hidden="true"></i>&nbsp;
                        <span >Departments</span>
                    </span>
                </div>


                <div class="row">
                    <span class="item">
                        <i class="fa fa-building icon-10" aria-hidden="true"></i>&nbsp;
                        <span >Sales</span>
                    </span>
                </div>

                <div class="row">
                    <span class="item">
                        <i class="fa-solid fa-truck icon-4"></i>&nbsp;
                        <span >Delivery</span>
                    </span>
                </div>

                <div class="row">
                    <span class="item">
                        <i class="fa-solid fa-location-dot icon-8"></i>&nbsp;
                        <span >Delivery Zones</span>
                    </span>
                </div>

                <div class="row">
                    <span class="item">
                        <i class="fa-solid fa-chart-column icon-7"></i>&nbsp;
                        <span >Delivery Reports</span>
                    </span>
                </div>

                <div class="row">
                    <span class="item">
                        <i class="fa-sharp fa-solid fa-tags icon-9"></i>&nbsp;
                        <span >Offers</span>
                    </span>
                </div>

                <div class="row">
                    <span class="item">
                        <i class="fa-brands fa-google-wallet icon-6"></i>&nbsp;
                        <span >Wallet</span>
                    </span>
                </div>
            </aside>
            
            <div class="displayedContent">

                <!-- display the defualt content of this container -->
                <div class="header">
                    <span class="main">RED Store</span>
                    <span class="sub">Ecommerce Control Panel</span>
                </div>
                
                <div class="statistics">
                    <div class="customers statistics-sub">
                        <div class="mainInfo">
                            <div class="row">
                                <h1 class="count">1130</h1>
                                <h4>Ecommerce Customers</h4>
                            </div>
                            
    
                            <i class="fa-solid fa-user background "></i>
                        </div>
                        
                        <div class="moreInfo">
                            <a href="" class="">More Info</a>
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </div>
                    </div>
                    
                    <div class="sellers statistics-sub">

                        <div class="mainInfo">
                            <div class="row">
                                <h1 class="count">1130</h1>
                                <h4>Ecommerce Customers</h4>
                            </div>
                            
                            <i class="fa-solid fa-bag-shopping background"></i>                           
                        </div>
                        
                        <div class="moreInfo">
                            <a href="" class="">More Info</a>
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </div>

                    </div>
                
                    
                    <div class="sales statistics-sub">

                        <div class="mainInfo">
                            <div class="row">
                                <h1 class="count">1130</h1>
                                <h4>Ecommerce Customers</h4>
                            </div>
                            
    
                            <i class="fa fa-shopping-cart background" aria-hidden="true"></i>
                           
                        </div>
                        
                        <div class="moreInfo">
                            <a href="" class="">More Info</a>
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </div>

                    </div>

                    <div class="delivaries statistics-sub">

                        <div class="mainInfo">
                            <div class="row">
                                <h1 class="count">1130</h1>
                                <h4>Ecommerce Customers</h4>
                            </div>
                            
    
                            <i class="fa-solid fa-truck background"></i>
                        </div>
                        
                        <div class="moreInfo">
                            <a href="" class="">More Info</a>
                            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                        </div>

                    </div>

                </div>

            </div> 
        </div>
    </div>

    <script src="/scripts/adminScripts/admin-common.js"></script>
    <script src="/scripts/adminScripts/dashboard.js"></script>
    <!-- <script src="../../static/scripts/adminScripts/customers.js"></script> -->



</body>

</html>