<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EBuy | Ecommerce Website Design</title>
    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="stylesheet" href="/styles/newcategory.css">
    <link href="https://fonts.googleapis.com/css2?
    family=Poppins:wght@100;200;300;400;500;600;700&display=swap" 
    rel="stylesheet">
    <script src="https://kit.fontawesome.com/a88d896878.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
   
</head>

<body>
    <div class="container">

        <%- include('../../partials/admin/header.ejs')%>


        <!-- Create the main part of the admin page -->
        <div class="main-content">
            
            <%- include('../../partials/admin/minu.ejs')%>
            
            <div class="displayedContent">

                <div class="header">
                    <h1>Ecom.Categories</h1>

                    <div>
                        <i class="fa fa-tachometer icon-1" aria-hidden="true"></i>&nbsp;
                        <a href="/">Home</a>&nbsp;
                        <i class="fa-solid fa-angle-right"></i>&nbsp;
                        <a href="/categories">Ecom.Categories</a>&nbsp;
                        <i class="fa-solid fa-angle-right"></i>&nbsp;
                        <a href="/categories/add">New Category</a>&nbsp;                   
                    </div>
                    
                </div>


                <h2>New Category</h2>

                <form class="form">

                    <div class="row">
                        <label for="name">Name</label>
                        <input class="col" type="text" placeholder="Name" id="name" name="name" required>
                    </div>

                    <div class="row">
                        <label for="nameMalayma">Name in Malayama</label>
                        <input class="col" type="text" placeholder="Name" id="nameMalayma" name="name_malayma" required>
                    </div>

                    <div class="row">
                        <label for="description">Description</label>
                        <textarea class="col"  placeholder="Description" id="description" name="description" required></textarea>
                    </div>

                    <div class="row">
                        <label for="dailyProd">Daily Prodduct</label>
                        <div class="col">
                            <input type="radio" name="daily_product" value="Yes" id="yes" required>
                            <label for="yes">Yes</label>&nbsp;&nbsp;
                            
                            <input type="radio" name="daily_product" value="No" id="no" required>
                            <label for="no">No</label>
                        </div>
                        
                    </div>
                    

                    <div class="row">
                        <label for="upload-button">Category Image</label>
                        <div class="col image-container">
                            <img id="img" src=".../../static/images/defaultimage.png" alt="">
                            <!-- <div id="image-display"></div> -->
                            <input id="upload-button" type="file" name="image" required multiple accept="image/*">
                            <!-- <input type="radio" name="dailyProd" value="No" id="no"> -->
                            <label id="uploadButton" for="upload-button">
                                <i class="fa-solid fa-upload"></i>&nbsp;
                                Choose or Drop Photos
                            </label>
                            <div id="hint">image type .png, .jpeg. Size 100 x 100</div>
                            <div class="upload-error"></div>
                        </div>
                    </div>


                    <div class="row">
                        <label for="Favorite status">Favorite Status</label>
                        <div class="col">
                            <input type="radio" name="favorite_status" value="Yes" id="yes1" required>
                            <label for="yes1">Yes</label>&nbsp;&nbsp;
                            
                            <input type="radio" name="favorite_status" value="No" id="no1" required>
                            <label for="no1">No</label>
                        </div>
                        
                    </div>


                    <div class="row">
                        <label for="status">Status</label>


                        <select class="col" name="status" id="" required>
                            <option value="active">Active</option>
                            <option value="inActive">inActive</option>
                        </select>
                    
                    </div>

                    <div class="btns">
                        <button type="submit" class="btn btn-submit">Submit</button>&nbsp;
                        <a href="/categories" class="btn btn-cancel">Cancel</a>
                    </div>

                </form>

            </div> 
        </div>
    </div>


    <script src="/scripts/adminScripts/category-functions.js"></script>
    <script>
    
        const form = document.querySelector('form');

        form.addEventListener('submit', async (e) => {

            e.preventDefault();

            const name = form.name.value;
            const name_malayma = form.name_malayma.value;
            const description = form.description.value;
            const daily_product = form.daily_product.value;
            let absImage = form.image.value.split('\\'); 
            const image = absImage[2];
            const favorite_status = form.favorite_status.value; 
            const status = form.status.value;

            console.log("image: ", image);

            const res =  await fetch('/categories/add', {
                method: "POST",
                headers: {
                   "Content-Type": "application/json"
                },
                body: JSON.stringify({ name, name_malayma, daily_product, description, image, status, favorite_status })
            });

            const data = await res.json();

            console.log(data);

            if (data) {
                location.assign('/categories');
            }
        })
    </script>

</body>

</html>