<!DOCTYPE html>
<html lang="en">

<!-- <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EBuy | Ecommerce Website Design</title>
   
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <link rel="stylesheet" href="/styles/admin.css">
    <link rel="stylesheet" href="/styles/newcategory.css">
    
    <script src="https://kit.fontawesome.com/a88d896878.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

</head> -->

<%- include('../../partials/admin/head')%>

<body>
    <div class="container">

        <%- include('../../partials/admin/header.ejs')%>


            <!-- Create the main part of the admin page -->
            <div class="main-content">


                <%- include('../../partials/admin/minu.ejs')%>
                <%- include('./main')%>

            </div>
    </div>

    <script src="/scripts/adminScripts/category-functions.js"></script>
    <script src="/scripts/adminScripts/product/product.js"></script>
    <script>
        $(document).ready(() => {

            let form = document.querySelector('form');
            form.addEventListener('submit', async (e) => {

                e.preventDefault();

                let images = [];

                images = JSON.parse(localStorage.getItem('images'));

                // {
                //     frontPicture: "",
                //     backPicture: "",
                //     rightSidePicture: "",
                //     lefttSidePicture: ""
                // };

                let i = 0;

                let absImage = form.image.value.split('\\');
                // $.each($('.image-list'), () => {
                //     let $this = $(this);
                //     images.push($this.html());
                // });
                console.log("images of the product", images);

                const logo = absImage[2];
                console.log("image: ", logo);


                let priceClasses = document.getElementsByClassName("price");
                let quantityClasses = document.getElementsByClassName("quantity");
                let sizeClasses = document.getElementsByClassName("size");
                let iteratorIndex = 0;

                const sizes = [];
                // initialize sizes array
                if ($("#singleSize").attr("required") === "required") {
                    sizes.push({ sizeType: "singleSize", size: $("#singleSize").val() });
                } else {
                    $.each($(".size-field"), function () {
                        const $this = $(this);
                        sizes.push({ sizeType: sizeClasses.item(iteratorIndex++).innerHTML, size: $this.val() });
                    })
                }


                const prices = [];
                iteratorIndex = 0;
                // initialize sizes array
                if ($("#singlePrice").attr("required") === "required") {
                    prices.push({ priceType: "singlePrice", price: $("#singlePrice").val() });
                } else {
                    $.each($(".price-field"), function () {
                        const $this = $(this);

                        prices.push({ priceType: priceClasses.item(iteratorIndex++).innerHTML, price: $this.val() });
                    })
                }



                const quantities = [];
                iteratorIndex = 0;
                // initialize sizes array
                if ($("#singleQuantity").attr("required") === "required") {
                    quantities.push({ quantityType: "singleQuantity", quantity: $("#singleQuantity").val() });
                } else {
                    $.each($(".quantity-field"), function () {
                        const $this = $(this);

                        quantities.push({ quantityType: quantityClasses.item(iteratorIndex++).innerHTML, quantity: $this.val() });
                    })
                }

                const offerName = form.offer_name.value;

                let offer = null;

                if (offerName !== "") {
                    if (!checkOfferDates()) return false;

                    const offerStartDate = form.offer_startDate.value;
                    const offerEndDate = form.offer_endDate.value;
                    const discountPercent = form.discount_rate.value;
                    const discount = { discountPercent }

                    offer = { offerName, offerStartDate, offerEndDate, discount };

                }
        
                const product = {
                    name: form.name.value,
                    localName: form.local_name.value,
                    category: form.category.value,
                    subCategory: form.subCategory.value,
                    brand: form.brand.value,
                    description: form.description.value,
                    // department: form.department.value,
                    vegStatus: form.veg_status.value,
                    image: logo,
                    images: { images },
                    prices: prices,
                    quantities: quantities,
                    sizes: sizes,
                    status: form.status.value === 'active' ? true : false,
                    offer: offer === undefined? undefined: offer,
                    stockType: form.stock_type.value,
                    unitsInStock: form.units_in_stock.value,

                }

                console.log("product values is ", product);

                const res = await fetch('/products', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(product)
                });

                const data = await res.json();

                console.log(data);

                if (data) {
                    location.assign('/products');
                }
            })
        });
    </script>

    <script>
        function addTooltips() {
            $("#addOffer").tooltip();
            $("#cancelOffer").tooltip();

        }
    </script>

    <!-- <script src="bootstrap.bundle.min.js"></script> -->
    <!-- <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script>
        const popcorn = document.querySelector('#popcorn');
        const tooltip = document.querySelector('#tooltip');
        createPopper(popcorn, tooltip, {
            placement: 'top',
        });
    </script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->


</body>

</html>

<!-- // const trash = $('<i class="fa-solid fa-trash"></i>');
// trash.hide();
// div.append(trash);
// trash.on('click', () => {

// document.getElementsByName('sizeItem').forEach(element => {
// if (element.checked)
// $(`#${element.value}`).hide();

// });
// }) -->